#header {
    background: #42799d;
    height: 70px;
    width: 100%;
    display: block;
}
.maindiv {
	margin: auto;
}
.title {
    float: left;
    margin: 12px;
    margin-left: 20px;
}
.title:hover {
    cursor: pointer;
}
.register {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.register:hover {
    cursor: pointer;
}
.profile {
    float: right;
    margin: 5px;
}
.profile-name {
    float: left;
    margin-top: 15px;
}
.profile-image {
    height: 60px;
    width: 60px;
    background-size: contain;
    float: left;
    margin-right: 5px;
}
.thumb {
    height: 150px;
    width: 150px;
    float: left;
}
.top {
    margin: 0 0 6px 0;
}
.left {
    margin: 0 6px 0 0;
}
.large {
    height: 306px;
    width: 306px;
    float: left;
    overflow: hidden;
    margin: 4px;
}
.thumb-cover {
	-webkit-font-smoothing: antialiased; /* fix for transition */
    color: #fff;
    height: 134px;
    width: 134px;
	padding: 8px;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
    opacity: 0.0;
    -webkit-transition: opacity 0.25s ease-in;
}
.thumb.large>.thumb-cover {
	height: 290px;
	width: 290px;
}
.thumb:hover .thumb-cover {
    opacity: 1.0;
}
.lazyLoadFooter {
    background-image: url('../images/loading.gif');
    background-size: 100px 100px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 100%;
}
a, a:visited {
	color: #7fc5ff !important;
	-webkit-transition: color 0.125s;
}
a:hover {
	color: #bfe2ff !important;
}
