.headder1{
    background: #93F;
    border: solid 1px;
    height: 70px;
    width: 30%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    text-align: center;
}
.headder2{
    background: #93F;
    border: solid 1px;
    height: 70px;
    width: 69%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
.maindiv{
    float: left;
}
.title{
    float: left;
    margin: 5px;
    margin-left: 20px;
}
.title:hover{
    cursor: pointer;
}
.register{
    float: right;
    margin: 5px;
    margin-right: 20px;
}
.register:hover{
    cursor: pointer;
}
.profile{
    float: right;
    margin: 5px;
}
.profile-name{
    float: left;
}
.profile-image{
    height: 60px;
    width: 60px;
    background-size: contain;
    float: left;
    margin-right: 5px;
}
.thumb{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    float: left;
}
.top{
    margin: 0 0 6px 0;
}
.left{
    margin: 0 6px 0 0;
}
.large{
    height: 306px;
    width: 306px;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
    margin: 6px 0 0 6px;
}
.thumb-cover{
	-webkit-font-smoothing: antialiased; /* fix for transition */
    color: #fff;
    height: 134px;
    width: 134px;
	padding: 8px;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
    opacity: 0.0;
    -webkit-transition: opacity 0.25s;
}
.thumb.large>.thumb-cover{
	height: 290px;
	width: 290px;
}
.thumb:hover .thumb-cover{
    opacity: 1.0;
}
.lazyLoadFooter{
    background-image: url('../images/loading.gif');
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
}
a, a:visited {
	color: #7fc5ff !important;
	-webkit-transition: color 0.125s;
}
a:hover {
	color: #bfe2ff !important;
}
