.headder1{
    background: #93F;
    border: solid 1px;
    height: 70px;
    width: 30%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    text-align: center;
}
.headder2{
    background: #93F;
    border: solid 1px;
    height: 70px;
    width: 69%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
.maindiv{
    float: left;
}
.title{
    float: left;
    margin: 5px;
    margin-left: 20px;
}
.title:hover{
    cursor: pointer;
}
.register{
    float: right;
    margin: 5px;
    margin-right: 20px;
}
.register:hover{
    cursor: pointer;
}
.profile{
    float: right;
    margin: 5px;
}
.profile-name{
    float: left;
}
.profile-image{
    height: 60px;
    width: 60px;
    background-size: contain;
    float: left;
    margin-right: 5px;
}
.thumb{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    float: left;
}
.top{
    margin: 0 0 6px 0;
}
.left{
    margin: 0 6px 0 0;
}
.large{
    height: 306px;
    width: 306px;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
    margin: 6px 0 0 6px;
}
.thumb-cover{
    height: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}
.thumb:hover .thumb-cover{
    height: 100%;
    width: 100%;
    color: #fff;
    overflow: hidden;
    background-color: rgba(0,0,0,.7);
    visibility: visible;
}
.lazyLoadFooter{
    background-image: url('../images/loading.gif');
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
}
